<div class="container my-5">
    <h2 class="text-center mb-4">Employee List</h2>
  
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through the employees array -->
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.username }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td><a href="http://{{ employee.website }}" target="_blank">{{ employee.website }}</a></td>
            <td>
              <div><strong>Street:</strong> {{ employee.address.street }}</div>
              <div><strong>Suite:</strong> {{ employee.address.suite }}</div>
              <div><strong>City:</strong> {{ employee.address.city }}</div>
              <div><strong>Zipcode:</strong> {{ employee.address.zipcode }}</div>
            </td>
            <td>
              <button>
                <a [routerLink]="['/employee', employee.id]">View</a>
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  