<form [formGroup]="editEmp" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="name">
    <label for="last-name">User Name: </label>
    <input id="last-name" type="text" formControlName="username">
    <label for="last-name">Email: </label>
    <input id="last-name" type="text" formControlName="email">
    <div formGroupName="address">
        <div>
          <label for="street">Street</label>
          <input type="text" id="street" formControlName="street">
        </div>
    
        <div>
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city">
        </div>
    
        <div>
          <label for="state">State</label>
          <input type="text" id="state" formControlName="state">
        </div>
    
        <div>
          <label for="zipCode">Zip Code</label>
          <input type="text" id="zipCode" formControlName="zipCode">
        </div>
      </div>
    
      <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" formControlName="phone">
      </div>
    
      <div>
        <label for="website">Website</label>
        <input type="text" id="website" formControlName="website">
      </div>
    
      <button type="submit" [disabled]="!editEmp.valid">Submit</button>
  </form>
